@using Domain;
@rendermode InteractiveServer

<div class="row log-text my-2">
    <div class="d-flex flex-row flex-wrap align-items-center">
        <button type="button" class="btn btn-primary btn-outline-light me-1 mt-2">+ New</button>
        @foreach (var activity in activities.Where(a => a.QuickAdd).Take(5))
        {
            <LogButton Activity="activity"/>
        }
    </div>
</div>

@code {
    private List<Activity> activities;

    protected override void OnInitialized()
    {
        var color = "#464575";
        activities = new List<Activity>
        {
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "ate a meal",
                Emoji = "🍴"
            },
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "did training",
                Emoji = "💪"
            },
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "went for a walk",
                Emoji = "🐕‍🦺"
            },
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "took medication",
                Emoji = "💊"
            },
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "took medication",
                Emoji = "💊"
            },
            new Activity
            {
                Id = Guid.NewGuid(),
                HouseholdId = Guid.Empty,
                Text = "took medication",
                Emoji = "💊"
            },
        };
    }
}
