@using Domain;
@using Services;
@using DailyDog.Components.Pages.LogPage.Model;
@rendermode InteractiveServer

<div class="row log-text my-2">
    <div class="d-flex flex-row flex-wrap align-items-center">
        <button type="button" class="btn btn-primary btn-outline-light me-1 mt-2">+ New</button>
        @foreach (var activity in Model.Activities?.Where(a => a.QuickAdd).Take(5) ?? new List<Activity>())
        {
            <LogButton Activity="activity" Dogs="Model.Dogs" DogOwner="Model.DogOwner" />
        }
    </div>
</div>

@code {
    [CascadingParameter]
    public LogViewModel Model { get; set; }
}