@using Domain;
@using Services;
@inject LogService LogService;

<button type="button" class="btn btn-outline-secondary mx-1 mt-2" style="background: #031633" @onclick="AddLogAsync">@Activity.ShortDescriptor</button>

@code {
    [Parameter]
    public List<Dog> Dogs { get; set; }

    [Parameter]
    public Activity Activity { get; set; }

    [Parameter]
    public DogOwner DogOwner { get; set; }

    public async Task AddLogAsync()
    {
        await LogService.AddLogAsync(Activity, Dogs, DogOwner);
        StateHasChanged();
    }
}
