@using Domain

<div class="row log-text">
    <div class="d-flex flex-row align-items-center">
        <div class="circle" style="background: @DogOwner?.Color">@dogOwnerInitial</div>
        <div class="ml-1"> @Log.TimestampCurrentTimezone.ToString("hh:mm tt") - @Dog?.Name @Activity?.Text @Activity?.ShortDescriptor</div>
    </div>
</div>

@code {
    [Parameter]
    public Log Log { get; set; }

    [Parameter]
    public Activity Activity { get; set; }

    [Parameter]
    public DogOwner DogOwner { get; set; }

    [Parameter]
    public Dog Dog { get; set; }

    private string dogOwnerInitial => string.IsNullOrEmpty(DogOwner?.Name)
            ? "?"
            : DogOwner.Name.Substring(0, 1);
}
