@using Domain;
@using Services;

<button type="button" class="btn btn-outline-secondary mx-1 mt-2" style="background: #031633" @onclick="AddLogAsync">@Activity.ShortDescriptor</button>

@code {
    [Parameter]
    public List<Dog> Dogs { get; set; }

    [Parameter]
    public Activity Activity { get; set; }

    [Parameter]
    public Func<(Activity, List<Dog>), Task> AddLog { get; set; }

    public async Task AddLogAsync()
    {
        await AddLog.Invoke((Activity, Dogs));
    }
}
