@using DailyDog.Components.Pages.Log;
@using Domain;
@page "/"

<PageTitle>DailyDog Log</PageTitle>

<div class="row overflow-hidden">
    <div class="text-center">
        <h3 class="display-4">Today's Activities</h3>
    </div>
</div>

<LogButtons/>
<Logs/>