@using DailyDog.Components.Pages.Log;
@using Domain;
@page "/"

<PageTitle>DailyDog Log</PageTitle>

<div class="row overflow-hidden">
    <div class="text-center">
        <h3 class="display-4">@DateTime.Today.ToString("MM/dd/yyyy")</h3>
    </div>
</div>

<Logs/>